@import '~antd/dist/antd.css';
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}
